<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>codemill</title>
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="static/bootstrap.min.css" crossorigin="anonymous" />
    <link type="text/css" rel="stylesheet" href="static/bootstrap-vue.min.css" crossorigin="anonymous" />
    <!-- Load Vue followed by BootstrapVue -->
    <!-- VueJS development version, includes helpful console warnings -->
    <script src="static/vue.js" crossorigin="anonymous"></script>
    <script src="static/bootstrap-vue.min.js" crossorigin="anonymous"></script>
    <!-- Load the following for BootstrapVueIcons support -->
    <script src="static/bootstrap-vue-icons.min.js" crossorigin="anonymous"></script>
    <style type="text/css">
    .hidden {
        display: none;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .modal-dialog {
        max-width: 100%;
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        border-radius: 0px;
    }

    .modal-content {
        max-width: 100%;
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        border-radius: 0px;
        padding: 0px;
    }

    .tab-pane {
        padding-left: 0px;
        padding-right: 0px;
    }

    .list-group-item {
        padding: 0.50rem 0.80rem;
    }

    .documentation {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
        font-size: 0.9em;
        line-height: 1.42;
        white-space: pre;
        word-break: normal;
        box-sizing: border-box;
        color: #006600;
    }

    .text-comment {
        color: #007bff !important;
    }

    .selected-struct-field {
        background-color: #28a745 !important;
        border-radius: 0.3em;
    }

    .custom-control-label {
        cursor: pointer;
    }

    .b-table-sticky-header,
    .table-responsive,
    [class*=table-responsive-] {
        margin-bottom: 0rem;
    }

    .comment-cell {
        padding: 0em !important;
        line-height: 1em;
    }
    </style>
</head>

<body>
    <div id="codemill-app">
        <!-- Content here -->
        <b-container>
            <!-- Modal for searching packages -->
            <template>
                <b-button v-b-modal.modal-list-remote-packages>Search packages</b-button>
                <b-modal id="modal-list-remote-packages" scrollable title="Search packages" size="xl" no-close-on-backdrop>
                    <b-form v-on:submit.prevent="search">
                        <label for="search-input-field">Search</label>
                        <b-overlay :show="isBusy.search" rounded="lg" opacity="0.6">
                            <div>
                                <b-input-group class="mt-3">
                                    <b-form-input type="search" id="search-input-field" @change="updateSearchValue" class="mr-sm-6" aria-describedby="search-help-block"></b-form-input>
                                    <b-input-group-append>
                                        <b-button variant="primary" @click="search" :disabled="isBusy.search">{{isBusy.search ? "Searching..." : "Search" }}</b-button>
                                    </b-input-group-append>
                                </b-input-group>
                            </div>
                        </b-overlay>
                        <b-form-text id="search-help-block">
                            Search public Go packages.
                        </b-form-text>
                        <b-list-group v-bind:class="{ hidden: !isBusy.search }">
                            <b-list-group-item>
                                <b-skeleton animation="wave" width="85%" type="input"></b-skeleton>
                            </b-list-group-item>
                            <b-list-group-item>
                                <b-skeleton animation="wave" width="55%" type="input"></b-skeleton>
                            </b-list-group-item>
                            <b-list-group-item>
                                <b-skeleton animation="wave" width="70%" type="input"></b-skeleton>
                            </b-list-group-item>
                        </b-list-group>
                        <b-list-group v-bind:class="{ hidden: isBusy.search }">
                            <b-overlay :show="isBusy.loadCode" rounded="lg" no-wrap fixed opacity="0.7">
                                <template #overlay>
                                    <div class="text-center">
                                        <b-icon icon="cloud-download" font-scale="2" animation="fade" variant="primary"></b-icon>
                                        <p>Loading <b>{{currentPackage.path}}@{{currentPackage.version}}</b> ...</p>
                                        <p>(This may take a while...)</p>
                                    </div>
                                </template>
                            </b-overlay>
                            <span class="float-left d-inline-block" v-if="len(searchResults) == 0" variant="danger">
                                No results were found.
                            </span>
                            <b-list-group-item v-for="(foundItem, foundItemKey) in searchResults" :title="foundItem.synopsis" v-bind:key="foundItem.path + foundItemKey">
                                <b-row class="mr-1">
                                    <b-col align-self="start">
                                        <span class="text-monospace float-left d-inline-block text-truncate">
                                            <b-icon icon="box-seam" variant="primary"></b-icon> <b>{{foundItem.path}}</b> as "{{foundItem.name}}"
                                        </span>
                                        <span class="float-right">
                                            <span title="Imported N times">{{foundItem.import_count}} <b-icon icon="box-arrow-in-down-left" variant="warning"></b-icon></span> | <span title="Starred N times">{{foundItem.stars}} <b-icon icon="star-fill" variant="warning"></b-icon></span>
                                        </span>
                                    </b-col>
                                    <b-col align-self="end" lg="1">
                                        <b-dropdown text="Select" variant="success" size="sm" @show="listVersions(foundItem)">
                                            <b-dropdown-item href="#" v-bind:class="{ hidden: foundItem.gotVersions }" class="text-center align-items-center">
                                                <b-spinner type="grow" label="Spinning" align-h="center"></b-spinner>
                                            </b-dropdown-item>
                                            <b-dropdown-item v-for="version in foundItem.versions" :key="revf(foundItem.path,version)" @click="loadCode(foundItem.path,version)">
                                                {{ version }}
                                            </b-dropdown-item>
                                        </b-dropdown>
                                    </b-col>
                                </b-row>
                                <b-row class="mr-1">
                                    <b-col align-self="start">
                                        <small v-bind:class="{ 'text-muted': !foundItem.synopsis }">
                                            <b-icon icon="file-text" :variant="foundItem.synopsis ? 'dark':'secondary'"></b-icon> {{!foundItem.synopsis ? "✗" : foundItem.synopsis}}
                                        </small>
                                    </b-col>
                                </b-row>
                            </b-list-group-item>
                        </b-list-group>
                    </b-form>
                    <template #modal-footer>
                        <div class="w-100">
                            <b-button variant="secondary" class="float-right" @click="$bvModal.hide('modal-list-remote-packages')">
                                Close
                            </b-button>
                        </div>
                    </template>
                </b-modal>
            </template>
        </b-container>
        <b-container>
            <template>
                <b-modal id="modal-show-code" scrollable title="Code" size="xl" lazy no-close-on-backdrop>
                    <template #modal-title>
                        Source of <b>{{currentPackage.path}}@{{currentPackage.version}}</b>
                    </template>
                    <b-tabs align="left" card>
                        <!-- This tabs content will not be mounted until the tab is shown -->
                        <!-- and will be un-mounted when hidden -->
                        <b-tab title="Funcs" lazy>
                            <b-list-group>
                                <b-list-group-item v-for="item in currentPackage.source.Funcs" v-bind:key="item.ID">
                                    <b-row class="mr-1">
                                        <b-col align-self="start">
                                            <span>
                                                <div v-for="doc in item.Docs" class="documentation">// {{ doc }}</div>
                                            </span>
                                            <span class="text-monospace float-left text-truncate">
                                                <small>{{item.Signature}}</small> <span v-for="comment in item.Comments" class="text-comment documentation">// {{ comment }}</span>
                                            </span>
                                        </b-col>
                                    </b-row>
                                </b-list-group-item>
                            </b-list-group>
                        </b-tab>
                        <b-tab title="Methods" lazy>
                            <b-list-group>
                                <b-list-group-item v-for="item in currentPackage.source.TypeMethods" v-bind:key="item.ID">
                                    <b-row class="mr-1">
                                        <b-col align-self="start">
                                            <span>
                                                <div v-for="doc in item.Docs" title="This is a doc" class="documentation">// {{ doc }}</div>
                                            </span>
                                            <span class="text-monospace float-left text-truncate">
                                                <small>{{item.Func.Signature}}</small> <span v-for="comment in item.Comments" class="text-comment documentation" title="This is a comment">// {{ comment }}</span>
                                            </span>
                                        </b-col>
                                    </b-row>
                                </b-list-group-item>
                            </b-list-group>
                        </b-tab>
                        <b-tab title="Interfaces" lazy>
                            <b-list-group>
                                <b-list-group-item v-for="item in currentPackage.source.InterfaceMethods" v-bind:key="item.ID">
                                    <b-row class="mr-1">
                                        <b-col align-self="start">
                                            <span>
                                                <div v-for="doc in item.Docs" title="This is a doc" class="documentation">// {{ doc }}</div>
                                            </span>
                                            <span class="text-monospace float-left text-truncate">
                                                <small>{{item.Func.Signature}}</small> <span v-for="comment in item.Comments" class="text-comment documentation" title="This is a comment">// {{ comment }}</span>
                                            </span>
                                        </b-col>
                                    </b-row>
                                </b-list-group-item>
                            </b-list-group>
                        </b-tab>
                        <b-tab title="Structs" lazy active>
                            <b-list-group class="text-monospace float-left text-truncate">
                                <b-list-group-item v-for="item in currentPackage.source.Structs" v-bind:key="item.ID">
                                    <b-row class="ml-1">
                                        <span>
                                            <div v-for="doc in item.Docs" title="This is a doc" class="documentation">// {{ doc }}</div>
                                            <div v-for="comment in item.Comments" class="documentation text-comment" title="This is a comment">// {{ comment }}</div>
                                        </span>
                                    </b-row>
                                    <b-row class="ml-1">
                                        <span>type <b>{{item.TypeName}}</b> struct {</span>
                                    </b-row>
                                    <table class="table-responsive table-sm table-hover">
                                        <tbody>
                                            <template v-for="(field, fieldIndex) in item.Fields">
                                                <tr v-for="doc in field.Docs" title="This is a doc">
                                                    <td colspan="3" class="comment-cell">
                                                        <span class="documentation pl-4">// {{ doc }}</span>
                                                    </td>
                                                </tr>
                                                <tr v-bind:class="{ 'selected-struct-field': field.Enabled }">
                                                    <td class="pt-0">
                                                        <span class="pl-4">
                                                            {{field.VarName}}
                                                        </span>
                                                    </td>
                                                    <td class="pt-0">
                                                        <b-form-checkbox :id="cc('checkbox',field.ID)" v-model="field.Enabled" switch></b-form-checkbox>
                                                    </td>
                                                    <td class="pt-0" :title="field.KindString">
                                                        <span>
                                                            {{field.TypeString}}
                                                        </span>
                                                    </td>
                                                    <td class="pt-0">
                                                        <span v-for="comment in field.Comments" class="text-comment documentation" title="This is a comment">// {{ comment }}</span>
                                                    </td>
                                                </tr>
                                            </template>
                                        </tbody>
                                    </table>
                                    <b-row class="ml-1">
                                        <span>}</span>
                                    </b-row>
                                </b-list-group-item>
                            </b-list-group>
                        </b-tab>
                    </b-tabs>
                    <template #modal-footer>
                        <div class="w-100">
                            <b-button variant="secondary" class="float-right" size="sm" @click="$bvModal.hide('modal-show-code')">
                                Close
                            </b-button>
                        </div>
                    </template>
                </b-modal>
            </template>
        </b-container>
    </div>
    <script>
    function cc(...elems) {
        return elems.join("-")
    }

    window.app = new Vue({
        el: '#codemill-app',
        data: {
            currentPackage: {
                source: {},
                path: "",
                version: ""
            },
            searchResults: [],
            currentSearch: "",
            currentSearchOut: "",
            isBusy: {
                search: false,
                loadCode: false
            }
        },
        created() {
            // TODO: remove.
            this.doSearch("revel");
        },
        updated() {

        },
        mounted() {

        },
        methods: {
            cc: function(...elems) {
                return elems.join("-")
            },
            len: function(elem) {
                if (elem == null) { return 0 }
                return elem.length
            },
            marshal(obj) {
                return JSON.stringify(obj)
            },
            revf(path, version) {
                return path + "@" + version
            },
            makeToast(variant = null, title, body) {
                this.$bvToast.toast(
                    body, {
                        title: title,
                        variant: variant,
                        solid: true
                    })
            },
            search() {
                this.currentSearchOut = this.currentSearch.trim();
                this.doSearch(this.currentSearchOut);
            },
            updateSearchValue(val) {
                this.currentSearch = val;
            },
            listVersions(searchItem) {
                console.log("getting list of versions...");
                console.log(searchItem);
                let url = '/api/versions?path=' + searchItem.path;

                fetch(url)
                    .then(response => {
                        if (response.ok) {
                            return response.json()
                        } else {
                            throw response;
                        }
                    })
                    .then(json => {
                        searchItem.versions = json.results;
                        searchItem.gotVersions = true;
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                        error.json().then((body) => {
                            this.makeToast("danger", "Error", body.error);
                        });
                    });
            },
            loadCode(path, version) {
                console.log("Loading code...selected:", this.revf(path, version));
                this.isBusy.loadCode = true;
                this.currentPackage.path = path;
                this.currentPackage.version = version;

                let url = '/api/source?path=' + path + "&v=" + version;

                fetch(url)
                    .then(response => {
                        if (response.ok) {
                            return response.json()
                        } else {
                            throw response;
                        }
                    })
                    .then(json => {
                        this.currentPackage.source = json;
                        this.isBusy.loadCode = false;
                        this.$bvModal.show('modal-show-code');

                        if (json.Module) {
                            // TODO: if the version is different from what was requested,
                            // then mark it some way.
                            this.currentPackage.version = json.Module.Version;
                        }
                    })
                    .catch((error) => {
                        this.isBusy.loadCode = false;
                        console.error('Error:', error);
                        error.json().then((body) => {
                            this.makeToast("danger", "Error", body.error);
                        });
                    });
            },
            doSearch(searchText) {
                this.isBusy.search = true;
                let url = '/api/search?q=' + searchText;

                fetch(url)
                    .then(response => {
                        if (response.ok) {
                            return response.json()
                        } else {
                            throw response;
                        }
                    })
                    .then(json => {
                        this.isBusy.search = false;

                        let gotResults = [];

                        if (json.results == null) {
                            this.searchResults = [];
                        } else {
                            json.results.forEach(function(item, itemIndex) {
                                item.versions = [];
                                item.gotVersions = false;
                                gotResults.push(item);
                            });
                            this.searchResults = gotResults;
                        }
                    })
                    .catch((error) => {
                        this.isBusy.search = false;
                        console.error('Error:', error);
                        error.json().then((body) => {
                            this.makeToast("danger", "Error", body.error);
                        });
                    });
            }
        }
    })
    </script>
</body>

</html>