<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>codemill</title>
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="static/bootstrap.min.css" crossorigin="anonymous" />
    <link type="text/css" rel="stylesheet" href="static/bootstrap-vue.min.css" crossorigin="anonymous" />
    <!-- Load Vue followed by BootstrapVue -->
    <!-- VueJS development version, includes helpful console warnings -->
    <script src="static/vue.js" crossorigin="anonymous"></script>
    <script src="static/bootstrap-vue.min.js" crossorigin="anonymous"></script>
    <!-- Load the following for BootstrapVueIcons support -->
    <script src="static/bootstrap-vue-icons.min.js" crossorigin="anonymous"></script>
    <style type="text/css">
    .hidden {
        display: none;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    .modal-dialog {
        max-width: 100%;
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
    }
    </style>
</head>

<body>
    <div id="codemill-app">
        <!-- Content here -->
        <b-container>
            <!-- Modal for searching packages -->
            <template>
                <b-button v-b-modal.modal-list-remote-packages>Search packages</b-button>
                <b-modal id="modal-list-remote-packages" scrollable title="Search packages" size="xl">
                    <b-form v-on:submit.prevent="search">
                        <label for="search-input-field">Search</label>
                        <b-input-group class="mt-3">
                            <b-form-input type="search" id="search-input-field" v-model="currentSearch" class="mr-sm-6" aria-describedby="search-help-block"></b-form-input>
                            <b-input-group-append>
                                <b-button variant="primary" @click="search" :disabled="isBusy.search">{{isBusy.search ? "Searching..." : "Search" }}</b-button>
                            </b-input-group-append>
                        </b-input-group>
                        <b-form-text id="search-help-block">
                            Search public Go packages.
                        </b-form-text>
                        <b-list-group v-bind:class="{ hidden: !isBusy.search }">
                            <b-list-group-item>
                                <b-skeleton animation="wave" width="85%" type="input"></b-skeleton>
                            </b-list-group-item>
                            <b-list-group-item>
                                <b-skeleton animation="wave" width="55%" type="input"></b-skeleton>
                            </b-list-group-item>
                            <b-list-group-item>
                                <b-skeleton animation="wave" width="70%" type="input"></b-skeleton>
                            </b-list-group-item>
                        </b-list-group>
                        <b-list-group v-bind:class="{ hidden: isBusy.search }">
                            <b-list-group-item v-for="foundItem in searchResults" :title="foundItem.synopsis">
                                <b-row class="mr-1">
                                    <b-col align-self="start">
                                        <span class="text-monospace float-left d-inline-block text-truncate"><b>{{foundItem.path}}</b> as "{{foundItem.name}}"</span>
                                        <span class="float-right">
                                            <span title="Imported N times">{{foundItem.import_count}} <b-icon icon="box-arrow-in-down-left" variant="warning"></b-icon></span> | <span title="Starred N times">{{foundItem.stars}} <b-icon icon="star-fill" variant="warning"></b-icon></span>
                                        </span>
                                    </b-col>
                                    <b-col align-self="end" lg="1">
                                        <b-dropdown text="Select" variant="success" size="sm" @show="listVersions(foundItem)">
                                            <b-dropdown-item href="#" v-bind:class="{ hidden: foundItem.gotVersions }" class="text-center align-items-center">
                                                <b-spinner type="grow" label="Spinning" align-h="center"></b-spinner>
                                            </b-dropdown-item>
                                            <b-dropdown-item v-for="(version, key) in foundItem.versions" :key="key" @click="selectedVersion(foundItem.path,version)">
                                                {{ version }}
                                            </b-dropdown-item>
                                        </b-dropdown>
                                    </b-col>
                                </b-row>
                                <b-row class="mr-1">
                                  <b-col align-self="start">
                                      <small><b-icon icon="file-text" variant="primary"></b-icon> {{!foundItem.synopsis ? "-/-" : foundItem.synopsis}}</small>
                                  </b-col>
                                </b-row>
                            </b-list-group-item>
                        </b-list-group>
                    </b-form>
                </b-modal>
            </template>

            <!-- Modal for listing packages available locally in the workspace -->
            <template>
                <b-button v-b-modal.modal-list-local-packages>List local packages</b-button>
                <b-modal id="modal-list-local-packages" scrollable title="Local packages" size="xl">
                </b-modal>
            </template>

            <!-- Modal for selecting code from a package -->
            <template>
                <b-button v-b-modal.modal-show-package>Show code inside package</b-button>
                <b-modal id="modal-show-package" scrollable title="Select code" size="xl">
                </b-modal>
            </template>
        </b-container>
    </div>
    <script type="text/javascript">
    function cc(...elems) {
        return elems.join("-")
    }

    window.onload = () => {
        var srcapp = new Vue({
            el: '#codemill-app',
            data: {
                source: null,
                searchResults: [],
                currentSearch: null,
                currentSearchOut: null,
                isBusy: {
                  search: false
                }
            },
            created() {
                this.doSearch("gin");
            },
            updated() {

            },
            mounted() {

            },
            methods: {
                cc: function(...elems) {
                    return elems.join("-")
                },
                len: function(elem) {
                    if (elem == null) { return 0 }
                    return elem.length
                },
                marshal(obj) {
                    return JSON.stringify(obj)
                },
                makeToast(variant = null, title, body) {
                    this.$bvToast.toast(
                        body, {
                            title: title,
                            variant: variant,
                            solid: true
                        })
                },
                search() {
                    this.currentSearchOut = this.currentSearch.trim();
                    this.doSearch(this.currentSearchOut);
                },
                listVersions(searchItem) {
                    console.log("getting list of versions...");
                    console.log(searchItem);
                    let url = '/api/versions?path=' + searchItem.path;

                    fetch(url)
                        .then(response => {
                            if (response.ok) {
                                return response.json()
                            } else {
                                throw response;
                            }
                        })
                        .then(json => {
                            searchItem.versions = json.results;
                            searchItem.gotVersions = true;
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                            error.json().then((body) => {
                                this.makeToast("danger", "Error", body.error);
                            });
                        });
                },
                selectedVersion(path, version) {
                    console.log("selected:", path, version);
                },
                doSearch(searchText) {
                    this.isBusy.search = true;
                    let url = '/api/search?q=' + searchText;

                    fetch(url)
                        .then(response => {
                            if (response.ok) {
                                return response.json()
                            } else {
                                throw response;
                            }
                        })
                        .then(json => {
                            this.isBusy.search = false;

                            let gotResults = [];

                            json.results.forEach(function(item, itemIndex) {
                                item.versions = [];
                                item.gotVersions = false;
                                gotResults.push(item);
                            });
                            this.searchResults = gotResults;
                        })
                        .catch((error) => {
                            this.isBusy.search = false;
                            console.error('Error:', error);
                            error.json().then((body) => {
                                this.makeToast("danger", "Error", body.error);
                            });
                        });
                }
            }
        })
    }
    </script>
</body>

</html>